body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #FEA0B8, #FEE8D4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.create-habit-container {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.headline {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}

.input-section {
  margin-bottom: 20px;
}

.habit-input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.input-underline {
  border: none;
  border-bottom: 2px solid #FE8DA5;
  margin-top: 5px;
}

.checkbox-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.favorite-checkbox {
  display: flex;
  align-items: center;
}

.favorite-checkbox .checkbox {
  margin-right: 5px;
}


.goal-toggle-container {
  margin-top: 10px;
  position: relative;
}

.goal-toggle-button {
  width: 100%;
  padding: 15px;
  background-color: #FFDADD;
  border: none;
  border-radius: 10px;
  text-align: left;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.triangle-icon {
  position: absolute;
  right: 15px;
}

.dropdown {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.goal-period {
  margin-top: 10px;
}

.goal-count {
  margin-top: 10px;
}

.counter {
  gap: 10px;
  border: none;
  padding: 10px;
}

.counter button {
  background-color: #FFDADD;
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.date-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.date-input {
  display: flex;
  align-items: center;
  background-color: #FFDADD;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.calendar-icon {
  margin-right: 10px;
}

.create-habit-button {
  width: 100%;
  padding: 15px;
  background-color: #FE8DA5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
