@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
}

body {
  margin: 0; 
  height: 100vh; 
}

body, h1, h2, h3, p, button, input, textarea {
  font-family: 'Apple SD Gothic Neo', sans-serif;
}


.home-container {
  width:393px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position:absolute;
  top:448px;
}

.login-btn, .signup-btn {
  font-family: 'Apple SD Gothic Neo';
  background-color: rgba(255, 255, 255, 0.7); /* 약간 투명한 흰색 */
  /* padding: 10px 20px; */
  border-radius: 16px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  width: 175px;
  height:55px;
  text-align: center; 
}
