@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
}

body, h1, h2, h3, p, button, input, textarea {
  font-family: 'Apple SD Gothic Neo', sans-serif;
}


.login-container {
  font-family: 'Apple SD Gothic Neo';
  width:393px;
  height: 100vh;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.logo-image {
  width: 150px; 
  margin-bottom: 20px; 
}

.input-fieldA {
  position:absolute;
  top:389px;
  font-family: 'Apple SD Gothic Neo';
  display: flex;
  border-radius: 8px;
  width: 331px; 
  height: 27px;
  font-size:13px;
  border: 1px solid rgba(255, 255, 255); 
  background-color:rgba(255, 255, 255, 0); 

}
.input-fieldA::placeholder { 
  color: rgba(15, 15, 15, 0.7); 
}

.input-fieldB::placeholder {
  color: rgba(15, 15, 15, 0.7); 
}
.input-fieldB {
   position:absolute;
  top:467px;
  font-family: 'Apple SD Gothic Neo';
  font-size:13px;
  margin: 10px 0;
  border-radius: 8px;
  width: 331px; 
  height: 27px;
  border: 1px solid rgba(255, 255, 255);
  background-color:rgba(255, 255, 255, 0); 
  
}
.input-fieldA:focus,
.input-fieldB:focus {
  outline: none; 
  
}


.login-button {
  font-family: 'Apple SD Gothic Neo';
  background-color:rgba(255, 255, 255, 0);
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 175px; 
  height: 55px;
  border: none; 
  position:absolute;
  top:621px;

}

.error-msg {
  font-family: 'Apple SD Gothic Neo';
  color: rgb(255,60,63);
  position:absolute;
  top:370px;
  left:25px;
  font-size: 11px;
  span{
    padding-left:3px;
  }
}