@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
           url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
  }
  
  body {
    box-sizing: border-box;
    margin: 0; 
    font-family: 'Apple SD Gothic Neo';
    
    }
  .title-container{
    display: flex;
    text-align: center;
  }
  .mypage-container{
    font-family: 'Apple SD Gothic Neo';
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #FAFAFA;
    cursor: 'pointer';
    img{
      cursor: pointer;
      width: 12px;
      height: 21px;
      padding-right: 9px;
    }
  }
  .mypage-wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .mypage-header {
    flex: 1;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    margin-bottom: 47px;
  }
  .dummy {
    width: 21px;
    height: 21px;
  }
  .mypage-content-container {
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
  .mypage-button-container {
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }
  .mypage-button {
    flex: 1;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    height: 47px;
    align-items: center;
    background-color: #FFDADD;
  }